{% extends 'workbase.html' %}
{% load static %}

{% block title-content %}Главная{% endblock title-content %}

{% block head-page-content %}
<link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock head-page-content %}

{% block home-nav %}
<li class="bold active">
{% endblock home-nav %}

{% block main-content %}
<div class="row">
    <div class="col s12 no-padding"> 
        <div class="card">
            <div class="card-content">
                <span class="card-title">Уведомления</span>
                {% if questionnaires %}
                <div class="collection">
                    {% for questionnaire in questionnaires %}
                    <a href="{% url 'questionnaire-review-page' questionnaire.id %}" class="collection-item black-text">
                        <h6>Новый тест: <b>{{ questionnaire.name }}</b></h6>
                        <p>
                            {% if questionnaire.is_wait %}
                            <b class="orange-text">Скоро откроется</b>
                            {% elif questionnaire.is_close %}
                            <b class="red-text">Закрыт</b>
                            {% else %}
                            <b class="green-text">Доступен</b>
                            {% endif %}
                        </p>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <div class="divider"></div>
                <div class="center empty-list">
                    Нет новых уведомлений
                </div>
                <div class="divider"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left: -0.75rem; margin-right: -0.75rem;">
    
    {% if user.is_admin %}
    <div class="col s12 l6">
        <div class="card hoverable" style="height: 100%;">
            <a href="{% url 'admin-information-page' %}" class="black-text">
                <div class="card-image">
                    <img src="{% static 'home/img/administration.jpg' %}" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title truncate">Администрирование</span>
                    <p class="two-lines">Создание, редактирование, удаление пользователей и отделов c пользователями</p>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    {% if user.is_moderator %}
    <div class="col s12 l6">
        <div class="card hoverable" style="height: 100%;">
            <a href="{% url 'questionnaire-drafts-page' %}" class="black-text">
                <div class="card-image">
                    <img src="{% static 'home/img/drafts.jpg' %}" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title truncate">Управление тестированием</span>
                    <p class="two-lines">Создание, редактирование, удаление тестов</p>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="col s12 l6">
        <div class="card hoverable" style="height: 100%;">
            <a href="{% url 'my-profile' %}" class="black-text">
                <div class="card-image">
                    <img src="{% static 'home/img/profile.jpg' %}" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title truncate">Профиль</span>
                    <p class="two-lines">Просмотр, редактирование профиля пользователя (смена пароля, почты)</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card hoverable" style="height: 100%;">
            <a href="{% url 'questionnaire-my-tests-page' %}" class="black-text">
                <div class="card-image">
                    <img src="{% static 'home/img/passage.jpg' %}" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title truncate">Тестирование</span>
                    <p class="two-lines">Прохождение тестов</p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock main-content %}