{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}PepegaHR: Профиль {{ hr_user.get_full_name }}{% endblock title-content %}

<!-- nav content -->
{% block profile-nav %}
<li class="bold active">
{% endblock profile-nav %}

{% block profile-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock profile-body-nav %}

<!-- main content -->
{% block main-content %}
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 center-align">
                <img src="{{ hr_user.photo.url }}" class="circle" alt="" width="172px">
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h5>{{ hr_user.get_full_name }}</h5>
                <p>{{ hr_user.get_role_display }}</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row" style="margin-top: 20px;">
            <div class="col s12 xl6">
                <h6>Groups: None</h6>
            </div>
            <div class="col s12 xl6">
                <h6>Email: {{ hr_user.email }}</h6>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row" style="margin-top: 20px;">
            <div class="col s12 xl6">
                <h6>Последняя активность: {{ hr_user.last_visit|date:"H:i:s, d/m/Y" }}</h6>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
