{% extends 'registration/base.html' %}
{% load static %}

{% block title-content %}Вход в систему{% endblock title-content %}


{% block main-content %}
<div class="row">
    <div class="col s12 offset-m2 m8 l6 offset-l3">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Вход в систему</div>
                <form method="POST" action="{% url 'login' %}" id="login-form">
                    {% csrf_token %}
                    <div class="row no-margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form.username }}
                            <label for="{{ form.username.auto_id }}">Имя пользователя</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            {{ form.password }}
                            <label for="{{ form.password.auto_id }}">Пароль</label>
                        </div>
                    </div>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </form>
                {% if form.errors %}
                <div class="row">
                    <div class="col s12">
                        <p class="red-text">Неправильный логин или пароль!</p>
                    </div>
                </div>
                {% endif %}  
            </div>

            <div class="card-action">
                <button form="login-form" class="btn waves-effect waves-light" type="submit">Войти</button>
                <a href="{% url 'password_reset' %}" class="btn-flat waves-effect waves-light">Забыли пароль?</a>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
