{% extends 'registration/base.html' %}
{% load static %}

{% block title-content %}Reset password{% endblock title-content %}


{% block main-content %}
<div class="card">
    <div class="card-content">
        <div class="card-title">Отправлено письмо о сбросе пароля</div>
        <div class="row">
            <div class="col s12">
                <p>
                    Мы отправили вам по электронной почте инструкцию по восстановлению пароля, если существует учетная запись с введенным вами электронным письмом. Вы должны получить её в ближайшее время.
                </br>
                    Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, на который зарегистрирован аккаунт, и проверьте папку со спамом.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
