{% extends 'registration/base.html' %}
{% load static %}

{% block title-content %}Сброс пароля{% endblock title-content %}

{% block main-content %}
<div class="row">
    <div class="col s12 offset-m2 m8 l6 offset-l3">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    Сброс пароля
                </div>
                <div class="row no-margin">
                    <form action="{% url 'password_reset' %}" method="POST" id="reset-form">
                        {% csrf_token %}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail</i>
                            {{ form.email }}
                            <label for="{{ form.email.auto_id }}">Email</label>
                            <span class="helper-text">Введите адрес электронной почты, на которую зарегистрирован аккаунт</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-action">
                <button form="reset-form" type="submit" class="btn waves-effect waves-light">
                    Сбросить пароль
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
