{% load widget_tweaks %}

{{ form.forms_count }}
<div class="row">
    <div class="input-field col s12">
        {{ form.question|add_class:"materialize-textarea validate" }}
        <label for="{{ form.question.auto_id }}">{{ form.question.label }}</label>
    </div>
    <div class="col s12">
        <table>
            <thead>
                <tr>
                    <th>Ответ</th>
                    <th>Вариант</th>
                </tr>
            </thead>
            <tbody>
                {% for right, variant in form.get_fields %}
                <tr class="form-row">
                    <td style="width: 20%;">
                        <div class="center-align">
                            <label>
                                {% if type == 'SINGLE' %}
                                    {{ right|add_class:"radio-checked with-gap"|attr:"type:radio" }}
                                {% elif type == 'MULTI' %}
                                    {{ right|add_class:"filled-in" }}
                                {% endif %}
                                <span>&nbsp;</span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div style="display: flex;">
                            <div style="width: 100%">
                                {{ variant|add_class:"materialize-textarea validate"|attr:"required" }}
                            </div>
                            <div>
                                {% if forloop.last %}
                                <button class="btn-flat tooltipped add-form-row" 
                                        data-position="bottom" data-tooltip="Добавить вариант">
                                    <i class="material-icons">add</i>
                                </button>
                                {% else %}
                                <button class="btn-flat tooltipped remove-form-row" 
                                        data-position="bottom" data-tooltip="Удалить">
                                    <i class="material-icons">close</i>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>