<li>
    <div class="collapsible-header waves-effect row" style="margin: 0;">
        <div class="col s12 no-padding">
            <div class="table-content">
                <i class="material-icons left tooltipped" data-position="bottom" data-tooltip="Один вариант">radio_button_checked</i>
                <h6 class="truncate" style="line-height: inherit;">{{ quiz.question }}</h6>
            </div>
        </div>
    </div>
    <div class="collapsible-body list-body">
        <div class="row">
            <div class="col s12">
                <div class="table-content">
                    <b>Вопрос:</b> {{ quiz.question }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>Ответ</th>
                            <th>Вес</th>
                            <th>Вариант</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for variant in quiz.variants.all %}
                        <tr>
                            <td style="width: 10%;"> 
                                <div class="center-align">
                                    <label>
                                        <input type="radio" class="with-gap input-disable"
                                            {% if variant == quiz.right %} checked="checked" {% endif %}
                                        />
                                        <span>&nbsp;</span>
                                    </label>
                                </div>
                            </td>
                            <td style="width: 10%;">
                                {{ variant.value }}
                            </td>
                            <td>
                                {{ variant.variant }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="table-content">
                    <div class="right">
                        <a href="{% url 'questionnaire-single-choose-edit' questionnaire.id quiz.id %}"
                             class="btn-flat waves-effect waves-light">
                            Редактировать
                        </a>
                    </div>
                    <div class="right">
                        <button class="btn-flat red-text waves-effect waves-light" form="single-remove"
                                name="quiz_id" value="{{ quiz.id }}" type="submit">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>