{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}PepegaHR: Группы{% endblock title-content %}

{% block head-page %}
<link rel="stylesheet" href="{% static '/administration/css/departaments.css' %}">
{% endblock head-page %}

<!-- nav content -->
{% block admin-nav %}
<li class="bold active">
{% endblock admin-nav %}

{% block admin-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock admin-body-nav %}

{% block admin-departaments-nav %}
<li class="active">
{% endblock admin-departaments-nav %}

<!-- main content -->
{% block main-content %}
<div class="card">
    <div class="card-content">
        <div class="card-title">
            <div class="row" >
                <div class="col s12 m7 no-padding">
                    Список групп
                </div>
                <div class="col s12 m5 no-padding right-align">
                    <a href="#add-modal" class="btn waves-effect waves-light modal-trigger">
                        <i class="material-icons right">add</i>Добавить группу
                    </a>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 no-padding">
                    <form class="valign-wrapper" style="display: flex;">
                        <div class="input-field" style="width: 100%; flex-grow: 1; margin: 0px;">
                            <input  disabled type="text" placeholder="Поиск">
                        </div>
                        <button class="btn-flat disabled" type="submit">
                            <i class="material-icons">search</i>
                        </button>
                        <!-- dropdown trigger -->
                        <a href="#" class="dropdown-trigger btn waves-effect waves-light disabled" style="min-width: 10rem;" data-target="dropdownfilter">
                            <i class="material-icons right">filter_list</i>Фильтр
                        </a>
                        <!-- dropdown structure -->
                        <ul id='dropdownfilter' class='dropdown-content'>
                            <li><a href="#!">one</a></li>
                            <li><a href="#!">two</a></li>
                            <li class="divider" tabindex="-1"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
        {% if page.object_list %}
            <div class="collection">
                {% for departament in page.object_list %}
                <a href="{% url 'admin-departament-page' departament.id %}" class="collection-item black-text waves-effect">
                    <h6>{{ departament.name }}</h6>
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col s6 no-padding">
                            <p>Участников: {{ departament.hruser_set.all.count }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <!-- pagination -->
            <ul class="pagination right-align">
                {% if page.has_previous %}
                <li class="waves-effect">
                    <a href="?page={{ page.previous_page_number }}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                <li class="waves-effect"><a href="#!">{{ page.previous_page_number }}</a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                
                <li class="waves-effect active"><a href="{% url 'admin-users-page' %}?page={{ page.number }}">{{ page.number }}</a></li>
    
                {% if page.has_next %}
                <li class="waves-effect">
                    <a href="###############">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
                <li class="waves-effect"><a href="#!">{{ page.next_page_number }}</a></li>
                {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul> 
        {% else %}
            <div class="divider"></div>
            <div class="center empty-list">Список пуст</div>
            <div class="divider"></div>
        {% endif %}
        </div>
    </div>
</div>

<!-- add group modal window -->
<div id="add-modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <h4>Добавление группы</h4>
        </div>
        <div>
            <form action="{% url 'admin-departaments-page' %}" method="POST" id="add-group">
                {% csrf_token %}
                <div class="input-field">
                    {{ departament_form.name }}
                    <label for="{{ departament_form.name.auto_id }}">{{ departament_form.name.label }}</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer right-align">
        <a class="modal-close btn-flat waves-effect waves-green">Отмена</a>
        <button class="modal-close btn waves-effect waves-green" form="add-group" type="submit">Добавить</button>
    </div>
</div>

{% endblock main-content %}

{% block script-page %}
<script src="{% static '/administration/js/departaments.js' %}"></script>
{% endblock script-page %}