{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}Группы{% endblock title-content %}

{% block head-page %}
<link rel="stylesheet" href="{% static '/administration/css/departaments.css' %}">
{% endblock head-page %}

<!-- nav content -->
{% block admin-nav %}
<li class="bold active">
{% endblock admin-nav %}

{% block admin-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock admin-body-nav %}

{% block admin-departaments-nav %}
<li class="active">
{% endblock admin-departaments-nav %}


{% block card-title %}
<div class="row">
    <div class="col s12">
        <div class="stretch-container">
            <div class="stretch-left">
                <div class="card-title">
                    Список групп
                </div>
            </div>
            <div class="stretch-right">
                <a href="#add-modal" class="btn waves-effect waves-light modal-trigger">
                    <i class="material-icons left">add</i>Добавить группу
                </a>
            </div>
        </div>
    </div>
</div>

<!-- add group modal window -->
<div id="add-modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h4>Добавление группы</h4>
            </div>
        </div>
        <div>
            <form action="{% url 'admin-departaments-page' %}" method="POST" id="add-group">
                {% csrf_token %}
                <div class="input-field">
                    {{ departament_form.name }}
                    <label for="{{ departament_form.name.auto_id }}">{{ departament_form.name.label }}</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer right-align">
        <a class="modal-close btn-flat waves-effect waves-light">Отмена</a>
        <button class="modal-close btn waves-effect waves-light" form="add-group" type="submit">Добавить</button>
    </div>
</div>
{% endblock card-title %}

{% block card-content %}
<!-- Поиск -->
<div class="row valign-wrapper no-padding">
    <div class="col s12">
        <form action="{% url 'admin-departaments-page' %}" method="GET" class="valign-wrapper" style="display: flex;" id="search-form">
            <div class="input-field" style="width: 100%; flex-grow: 1; margin: 0px;">
                <input type="text" placeholder="Поиск группы" name="q" value="{{ search_q }}">
            </div>
            <button class="btn-flat waves-effect waves-light" type="submit">
                <i class="material-icons">search</i>
            </button>
        </form>
    </div>
</div>
<!-- Список участников -->
<div class="row no-padding">
    <div class="col s12">
        {% if page.object_list %}
        <div class="collection">
            {% for departament in page.object_list %}
            <a href="{% url 'admin-departament-page' departament.id %}"
                class="collection-item black-text waves-effect">
                <h6>{{ departament.name }}</h6>
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s6">
                        <p>Участников: {{ departament.hruser_set.all.count }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        
        <!-- pagination -->
        {% include 'patterns/pagination_search.html' with page=page %}
        
        {% else %}
        <div class="divider"></div>
        <div class="center empty-list">
            {% if search_q %}
                По запросу <b>{{ search_q }}</b> ничего не найдено
            {% else %}
                Список пуст
            {% endif %}
        </div>
        <div class="divider"></div>
        {% endif %}
    </div>
</div>
{% endblock card-content %}

{% block script-page %}
<script src="{% static '/administration/js/departaments.js' %}"></script>
{% endblock script-page %}