{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}PepegaHR: Редактирование пользователя{% endblock title-content %}

{% block head-page %}
<link rel="stylesheet" href="{% static '/administration/css/edit_user.css' %}">
{% endblock head-page %}

<!-- nav content -->
{% block admin-nav %}
<li class="bold active">
{% endblock admin-nav %}

{% block admin-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock admin-body-nav %}

<!-- main content -->
{% block main-content %}
<div class="card">
    <div class="card-content">
        <span class="card-title">Редактирование пользователя</span>
        {% for error in hr_form.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <form method="POST" action="{% url 'admin-user-edit' hr_form.instance.id %}" id="edit-user-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'administration/forms/user_form.html' with form=hr_form %}
        </form>
    </div>
    <div class="card-action">
        <div>
            <a href="{% url 'admin-users-page' %}" class=" btn-flat waves-effect waves-light">Отмена</a>
            <button form="edit-user-form" class="btn waves-effect waves-light" type="submit" >Изменить</button>
        </div>
    </div>
</div>
{% endblock main-content %}

{% block script-page %}
<script type="text/javascript" src="{% static '/administration/js/edit_user.js' %}"></script>
{% endblock script-page %}