{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}PepegaHR: Пользователи{% endblock title-content %}

<!-- nav content -->
{% block admin-nav %}
<li class="bold active">
{% endblock admin-nav %}

{% block admin-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock admin-body-nav %}

{% block admin-users-nav %}
<li class="active">
{% endblock admin-users-nav %}


{% block card-title %}
<div class="stretch-container">
    <div class="stretch-left">
        <div class="card-title">
            Список пользователей
        </div>
    </div>
    <div class="stretch-right">
        <a href="{% url 'admin-user-create' %}" class="btn waves-effect waves-light">
            <i class="material-icons right">add</i>Добавить пользователя
        </a>
    </div>
</div>
{% endblock card-title %}

{% block card-content %}
<div class="row">
    <div class="col s12">
        <form class="valign-wrapper" style="display: flex;">
            <div class="input-field" style="width: 100%; flex-grow: 1; margin: 0px;">
                <input  disabled type="text" placeholder="Поиск">
            </div>
            <button class="btn-flat waves-effect waves-light disabled" type="submit">
                <i class="material-icons">search</i>
            </button>
            <!-- dropdown trigger -->
            <a href="#" class="dropdown-trigger btn waves-effect waves-light disabled" style="min-width: 10rem;" data-target="dropdownfilter">
                <i class="material-icons right">filter_list</i>Фильтр
            </a>
            <!-- dropdown structure -->
            <ul id='dropdownfilter' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider" tabindex="-1"></li>
            </ul>
        </form>
    </div>
</div>

<div class="row">
    <div class="col s12">
        {% if page.object_list %}
        <ul class="collapsible expandable z-depth-0">
            {% for hr_user in page.object_list %}
            <li>
                <div class="collapsible-header waves-effect row" style="margin: 0;">
                    <div class="col s10 m11 valign-wrapper no-padding">          
                        <div style="display: inline-block; margin-right: 1rem;">
                            <img src="{{ hr_user.photo.url }}" alt="" class="circle" style="max-width: 48px;">
                        </div>
                        <div style="display: inline-block;">
                            <p style="font-size: large;">{{ hr_user.get_full_name_reverse }}</p>
                            <p>{{ hr_user.get_role_display }}</p>
                        </div>
                    </div>   
                    <div class="col s2 m1 valign-wrapper">
                        {% if hr_user.is_superuser %}
                        <i class="material-icons amber-text right tooltipped" 
                        data-position="bottom" data-tooltip="Администратор">stars</i>
                        {% elif hr_user.is_moderator %}
                        <i class="material-icons grey-text right tooltipped" 
                        data-position="bottom" data-tooltip="Модератор">stars</i>
                        {% else %}                        
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body list-body">
                    <div class="row">
                        <div class="col s12 m6">
                            <p>Username: {{ hr_user.username }}</p>
                        </div>
                        <div class="col s12 m6">
                            <p>Последняя авторизация:
                                {% if hr_user.last_login %}
                                {{ hr_user.last_login|date:"H:i:s, d/m/Y" }}
                                {% else %}
                                не было
                                {% endif %}
                            </p>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <p>Email: {{ hr_user.email }}</p>
                        </div>
                        <div class="col s12 m6">
                            <p>Последняя активность: 
                                {% if hr_user.last_visit %}
                                {{ hr_user.last_visit|date:"H:i:s, d/m/Y" }}
                                {% else %}
                                не было
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="divider" style="margin-bottom: 1em;"></div>

                    <div class="row" style="margin-bottom: 0em;">
                        <div class="col s12">
                            <div class="stretch-container">
                                <div class="stretch-left">
                                    <a href="{% url 'profile-page' hr_user.id %}" class="btn-flat waves-effect waves-light">Профиль</a>
                                </div>
                                <div class="stretch-right">
                                    <a href="#remove-modal" data-id='{{ hr_user.id }}' data-username='{{ hr_user.get_full_name }}'
                                        class="btn-flat red-text waves-effect waves-light modal-trigger">Удалить</a>
                                    <a href="{% url 'admin-user-edit' hr_user.id %}" class="btn-flat waves-effect waves-light">Редактировать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <!-- pagination -->
        {% include 'patterns/pagination.html' with page=page %}

    {% else %}
        <div class="divider"></div>
        <div class="center empty-list">Список пуст</div>
        <div class="divider"></div>
    {% endif %}
    </div>
</div>

<!-- remove modal window -->
<div id="remove-modal" class="modal">
    <div class="modal-content">
        <h4>Удаление пользователя</h4>
        <p>
            Вы действительно хотите удалить пользователя <b class="modal-username"></b>?
            При удалении будет потеряны все данные связанные с этим пользователем.
        </p>
    </div>
    <div class="modal-footer right-align">
        <form action="{% url 'admin-user-remove' %}" method="POST" >
            {% csrf_token %}
            <a class="modal-close btn-flat waves-effect waves-light">Отмена</a>
            <input type="hidden" name="id" value="-1" class="modal-id">
            <button class="modal-close btn-flat red-text waves-effect waves-light" type="submit">Удалить</button>
        </form>
    </div>
</div>

{% endblock card-content %}


{% block script-page %}
<script src="{% static '/administration/js/users.js' %}"></script>
{% endblock script-page %}