.content-inline {
    display: inline-block;
    margin-bottom: 5px;
}

.empty-list {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.list-body {
    padding: 1rem;
}

.collapsible-header:hover {
    background-color: rgba(50, 50, 50, 0.06);
}

.collapsible li.active .collapsible-header {
    background-color: rgba(50, 50, 50, 0.06);
}

.table-content {
    padding: 0px 5px;
}

.btn-flat:hover {
    background-color: rgba(50, 50, 50, 0.06);
}

.collection a.collection-item:not(.active):hover {
    background-color: rgba(50, 50, 50, 0.06);
}

.stretch-container {
    display: flex;
}

.stretch-left {
    display: flex;
}

.stretch-right {
    margin-left: auto;
    display: flex;
}

.image-preview {
    width: 48px;
    height: 48px;
}

.image-preview:hover {
    opacity: 0.4;
}

.remove-photo {
    margin-left: 1rem;
    width: 48px;
    height: 48px;
}

.remove-photo:hover {
    background-color: lightgrey;
    background-image: url('/static/administration/img/close.png');
    background-position: center;
    z-index: 5;
}
