{% extends 'base.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}Home page{% endblock title-content %}

{% block head-content %}
<link rel="stylesheet" href="{% static '/home/css/style.css' %}">

{% block head-page %}
{% endblock head-page %}

{% endblock head-content %}

<!-- main content -->
{% block body-content %}
<body class="workbase-body">
    <!--navigation  -->
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
                        <i class="material-icons">menu</i>
                    </a>
                    <a href="{% url 'home-page' %}" class="workbase-header">PepegaHR</a>

                </div>
            </nav>
        </div>
        <ul id="nav-mobile" class="sidenav sidenav-fixed">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="{% static '/registration/img/bg.png' %}" alt="">
                    </div>
                    <img class="circle white" src="{{ user.photo.url }}">
                    <span class="black-text name">{{ user.get_full_name }}</span>
                    <span class="black-text email">{{ user.email }}</span>
                </div>
            </li>
            <ul>
                {% block home-nav %}
                <li class="bold">
                    {% endblock home-nav %}
                    <a href="{% url 'home-page' %}" class="collapsible-header waves-effect">
                        <i class="material-icons">home</i>Главная
                    </a>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        {% block profile-nav %}
                        <li class="bold">
                        {% endblock profile-nav %}
                            <a class="collapsible-header waves-effect">
                                <i class="material-icons">account_box</i>Профиль
                            </a>
                            {% block profile-body-nav %}
                            <div class="collapsible-body">
                            {% endblock profile-body-nav %}
                                <ul>
                                    {% block profile-myprofile-nav %}
                                    <li>
                                    {% endblock profile-myprofile-nav %}
                                        <a href="{% url 'my-profile' %}">Мой профиль</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}">Выйти из системы</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Администрирование -->
                        {% if user.is_admin %}
                        {% block admin-nav %}
                        <li class="bold">
                        {% endblock admin-nav %}
                            <a class="collapsible-header waves-effect">
                                <i class="material-icons">people</i>Администрирование
                            </a>

                            {% block admin-body-nav %}
                            <div class="collapsible-body">
                            {% endblock admin-body-nav %}
                                <ul>
                                    {% block admin-information-nav %}
                                    <li>
                                    {% endblock admin-information-nav %}
                                        <a href="{% url 'admin-information-page' %}">Сведения</a>
                                    </li>
                                    {% block admin-departaments-nav %}
                                    <li>
                                    {% endblock admin-departaments-nav %}
                                        <a href="{% url 'admin-departaments-page' %}">Список групп</a>
                                    </li>
                                    {% block admin-users-nav %}
                                    <li>
                                    {% endblock admin-users-nav %}
                                        <a href="{% url 'admin-users-page' %}">Список пользователей</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}

                        <!-- Тестирование -->
                        {% block questionnaire-nav %}
                        <li> 
                        {% endblock questionnaire-nav %}
                            <a class="collapsible-header waves-effect">
                                <i class="material-icons">poll</i>Тестирование
                            </a>
                            {% block questionnaire-body-nav %}
                            <div class="collapsible-body">
                            {% endblock questionnaire-body-nav %}
                                <ul>
                                    {% block questionnaire-test-nav %}
                                    <li>
                                    {% endblock questionnaire-test-nav %}
                                        <a href="{% url 'questionnaire-test' %}">Test</a>
                                    </li>

                                    {% block questionnaire-drafts-nav %}
                                    <li>
                                    {% endblock questionnaire-drafts-nav %}
                                        <a href="{% url 'questionnaire-drafts-page' %}">Черновики</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Справка -->
                        <li>
                            <a href="" class="collapsible-header waves-effect">
                                <i class="material-icons">info_outline</i>Справка
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </header>

    <!-- content -->
    <main class="workbase-container container">
        {% block main-content %}
        <div class="row">
            <div class="col s12 no-padding">
                <div class="card">
                    <div class="card-content">
                        {% block card-title %}
                        {% endblock card-title %}

                        {% block card-content %}
                        {% endblock card-content %}
                    </div>
                    {% block card-action %}
                    {% endblock card-action %}
                </div>
            </div>
        </div>
        {% endblock main-content %}
    </main>

</body>
{% endblock body-content %}

<!-- script content -->
{% block script-content %}
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
    });
</script>

    {% block script-page %}
    {% endblock script-page %}

{% endblock script-content %}