{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}PepegaHR: Сведения{% endblock title-content %}

{% block head-page %}
<!-- link rel="stylesheet" href="{% static '/administration/css/departaments.css' %}"> -->
{% endblock head-page %}

<!-- nav content -->
{% block admin-nav %}
<li class="bold active">
{% endblock admin-nav %}

{% block admin-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock admin-body-nav %}

{% block admin-information-nav %}
<li class="active">
{% endblock admin-information-nav %}

<!-- main content -->
{% block main-content %}
<div class="row">
    <div class="col s12 no-padding">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    Сведения
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: -0.75rem;">
    <div class="col s12 xl6">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <div class="stretch-container">
                        <div class="stretch-left">Пользователи</div>
                        <div class="stretch-right">{{ hr_users_count }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection black-text">
                            <a href="{% url 'admin-user-create' %}" class="collection-item black-text">
                                Создание пользователя
                                <i class="material-icons right">send</i>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col s12 xl6">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <div class="stretch-container">
                        <div class="stretch-left">Группы</div>
                        <div class="stretch-right">{{ departaments_count }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection">
                            <a href="{% url 'admin-departaments-page' %}" class="collection-item black-text">
                                Список групп
                                <i class="material-icons right">send</i>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 no-padding">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    Последняя активность
                </div>

                <div class="row">
                    <div class="col s12">
                        <ul class="collection">
                            {% for hr_user in last_users %}
                                <li class="collection-item ">
                                    <p>{{ hr_user.get_full_name }}</p>
                                    <p>{{ hr_user.last_visit }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}

{% block script-page %}
{% endblock script-page %}