{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}Черновики{% endblock title-content %}

<!-- nav content -->
{% block questionnaire-nav %}
<li class="bold active">
{% endblock questionnaire-nav %}

{% block questionnaire-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock questionnaire-body-nav %}

{% block questionnaire-drafts-nav %}
<li class="active">
{% endblock questionnaire-drafts-nav %}

                
<!-- Заголовок -->
{% block card-title %}
<div class="row">
    <div class="col s12">
        <div class="stretch-container">
            <div class="stretch-left">
                <div class="card-title">
                    Черновики
                </div>
            </div>
            <div class="stretch-right">
                <a href="#add-modal" class="btn waves-effect waves-light modal-trigger">
                    <i class="material-icons left">add</i>Добавить тест
                </a>
                <!-- add group modal window -->
                <div id="add-modal" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12">
                                <h4>Добавление теста</h4>
                            </div>
                        </div>
                        <div>
                            <form action="{% url 'questionnaire-drafts-page' %}" method="POST" id="add-questionnaire">
                                {% csrf_token %}
                                <div class="input-field">
                                    {{ questionnaire_form.name }}
                                    <label for="{{ questionnaire_form.name.auto_id }}">{{ questionnaire_form.name.label }}</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer right-align">
                        <a class="modal-close btn-flat waves-effect waves-light">Отмена</a>
                        <button class="modal-close btn waves-effect waves-light" form="add-questionnaire" type="submit">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock card-title %}

{% block card-content %}
<!-- Поиск -->
<div class="row no-padding">
    <div class="col s12">
        <form action="{% url 'questionnaire-drafts-page' %}" method="GET" class="valign-wrapper" style="display: flex;" id="search-form">
            <div class="input-field" style="width: 100%; flex-grow: 1; margin: 0px;">
                <input type="text" placeholder="Поиск черновиков" name="q" value="{{ search_q }}">
            </div>
            <button class="btn-flat waves-effect waves-light" type="submit">
                <i class="material-icons">search</i>
            </button>
        </form>
    </div>
</div>
<!-- Список черновиков -->
<div class="row no-padding">
    <div class="col s12">
        {% if page.object_list %}
        <div class="collection">
            {% for questionnaire in page.object_list %}
            <a href="{% url 'questionnaire-survey-page' questionnaire.id %}"
                class="collection-item black-text waves-effect">
                <div class="stretch-container">
                    <div class="stretch-left">
                        <h6>{{ questionnaire.name }}</h6>
                        <div class="row no-margin">
                            <div class="col s12">
                                <p>Автор: {{ questionnaire.author.get_full_name_reverse }}</p>
                            </div>
                        </div> 
                    </div>
                    <div class="stretch-flex-right valign-wrapper">
                        <div>
                            <p>Создан: {{ questionnaire.create_date }}</p>   
                            <p>Изменен: {{ questionnaire.modify_date }}</p>  
                        </div> 
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <!-- pagination -->
        {% include 'patterns/pagination_search.html' with page=page %}

        {% else %}
        <div class="divider"></div>
        <div class="center empty-list">
            {% if search_q %}
                По запросу <b>{{ search_q }}</b> ничего не найдено
            {% else %}
                Список пуст
            {% endif %}
        </div>
        <div class="divider"></div>
        {% endif %}
    </div>
</div>
{% endblock card-content %}


{% block script-page %}
<script src="{% static '/questionnaire/js/drafts.js' %}"></script>
{% endblock script-page %}