{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}{{ questionnaire.name }}{% endblock title-content %}

<!-- nav content -->
{% block questionnaire-nav %}
<li class="bold active">
{% endblock questionnaire-nav %}

{% block questionnaire-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock questionnaire-body-nav %}

                
<!-- Заголовок -->
{% block card-title %}
<div class="row">
    <div class="col s12">
        <div class="stretch-container">
            <div class="stretch-left">
                <div class="card-title">
                    {{ questionnaire.name }}
                </div>
            </div>
            <div class="stretch-right valign-wrapper">
                <p>{{ progress }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock card-title %}

{% block card-content %}
<div class="progress">
    <div class="determinate"></div>
</div>
<div class="row">
    <div class="col s12">
        {% if form.errors %}
            {% include 'patterns/errors.html' with errors=form.errors.values %}
        {% endif %}
    </div>
</div>  
<div class="row">
    <div class="col s12">
        <b>Вопрос:</b> {{ quiz.root.question }}
    </div>
</div>
<div class="row no-padding">
    <div class="col s12">
        <form action="{% url 'questionnaire-passage-page' questionnaire.id %}" method="POST" id="answer-form">
            {% csrf_token %} 
            {% if quiz.root.get_quiz_type == SINGLE_QUIZ or quiz.root.get_quiz_type == MULTI_QUIZ %}
                {% include 'questionnaire/forms/choose_passage.html' with form=form %}
            {% elif quiz.root.get_quiz_type == ARBITRARY_QUIZ %}
                {% include 'questionnaire/forms/arbitrary_passage.html' with form=form %}
            {% endif %}
        </form>
    </div>
</div>
<div class="row no-padding no-margin">
    <div class="col s12 right-align">
        {% if end_datetime %}
        <p class="countdown">Осталось: --:--:--</p>
        {% endif %}
    </div>
</div>
{% endblock card-content %}

{% block card-action %}
<div class="card-action right-align">
    <button class="btn waves-effect waves-light" type="submit" form="answer-form">
        <i class="material-icons left">forward</i>Далее
    </button>
</div>
{% endblock card-action %}

{% block script-page %}
<script src="{% static '/questionnaire/js/passage.js' %}"></script>

<script>
$(document).ready(function() {
    $('.determinate').css('width', '{{ progress_value }}%')
});
</script>

{% if end_datetime %}
<script>
$(document).ready(function() {
    var countDownDate = new Date('{{ end_datetime.isoformat }}').getTime();
    update_countdown(countDownDate);

    var x = setInterval(function() {
        if (!update_countdown(countDownDate)) {
            clearInterval(x);
        }
    }, 1000);
});
</script>
{% endif %}

{% endblock script-page %}