{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}Публикации{% endblock title-content %}

<!-- nav content -->
{% block questionnaire-nav %}
<li class="bold active">
{% endblock questionnaire-nav %}

{% block questionnaire-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock questionnaire-body-nav %}

{% block questionnaire-publications-nav %}
<li class="active">
{% endblock questionnaire-publications-nav %}

                
<!-- Заголовок -->
{% block card-title %}
<div class="row">
    <div class="col s12">
        <div class="card-title">
            Публикации
        </div>
    </div>
</div>
{% endblock card-title %}

{% block card-content %}
<!-- Поиск -->
<div class="row no-padding">
    <!-- Поиск -->
    <div class="col s12">
        <form class="valign-wrapper" style="display: flex;">
            <div class="input-field" style="width: 100%; flex-grow: 1; margin: 0px;">
                <input type="text" placeholder="Поиск публикаций" name="q" value="{{ search_q }}">
            </div>
            <button class="btn-flat waves-effect waves-light" type="submit">
                <i class="material-icons">search</i>
            </button>
        </form>
    </div>
</div>

<div class="row no-padding">
    <div class="col s12">
        {% if page.object_list %}
        <div class="collection">
            {% for questionnaire in page.object_list %}
            <a href="{% url 'questionnaire-survey-page' questionnaire.id %}"
                class="collection-item black-text waves-effect">
                <div class="stretch-container">
                    <div class="stretch-left">
                        <h6>{{ questionnaire.name }}</h6>
                        <div class="row no-margin">
                            <div class="col s12">
                                <p>
                                    Статус: 
                                    {% if questionnaire.is_wait %}
                                    <b class="orange-text">Ожидает открытия</b>
                                    {% elif questionnaire.is_close %}
                                    <b class="red-text">Закрыт</b>
                                    {% else %}
                                    <b class="green-text">Открыт</b>
                                    {% endif %}
                                </p>
                                <p>Автор: {{ questionnaire.author.get_full_name_reverse }}</p>
                            </div>
                        </div> 
                    </div>
                    <div class="stretch-flex-right valign-wrapper">
                        <div>
                            <p>Создан: {{ questionnaire.create_date }}</p>   
                            <p>Изменен: {{ questionnaire.modify_date }}</p>  
                        </div> 
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <!-- pagination -->
        {% include 'patterns/pagination_search.html' with page=page %}

        {% else %}
        <div class="divider"></div>
        <div class="center empty-list">
            {% if search_q %}
                По запросу <b>{{ search_q }}</b> ничего не найдено
            {% else %}
                Список пуст
            {% endif %}
        </div>
        <div class="divider"></div>
        {% endif %}
    </div>
</div>
{% endblock card-content %}
