{% extends 'workbase.html' %}
{% load static %}

<!-- header content -->
{% block title-content %}{{ questionnaire.name }}{% endblock title-content %}

<!-- nav content -->
{% block questionnaire-nav %}
<li class="bold active">
{% endblock questionnaire-nav %}

{% block questionnaire-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock questionnaire-body-nav %}

<!-- main content -->
{% block main-content %}
<div class="row">
    <div class="col s12 no-padding">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col s12 truncate">
                            {{ questionnaire.name }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <b>Описание:</b> 
                        {% if questionnaire.desciption %}
                            {{ questionnaire.desciption }}
                        {% else %}
                            отсутствует
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                         <div class="divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <label>
                            <input type="checkbox" class="filled-in input-disable"
                                {% if questionnaire.is_shuffle %} checked='checked' {% endif %}
                            />
                            <span>Перемешавать вопросы</span>
                        </label>
                    </div>
                    <div class="col s12 m4">
                        Максимум вопросов в тесте: 
                        <b>
                        {% if questionnaire.max_count %} 
                            {{ questionnaire.max_count }}
                        {% else %}
                            неограниченно
                        {% endif %} 
                        </b>
                    </div>
                    <div class="col s12 m4">
                        Время прохождения теста:
                        <b>
                        {% if questionnaire.test_time %} 
                            {{ questionnaire.test_time|time:"H:i" }}
                        {% else %}
                            неограниченно
                        {% endif %} 
                        </b>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col s12">
                         <div class="divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        Статус: 
                        {% if questionnaire.is_close %}
                        <b class="red-text">Закрыт</b>
                        {% elif questionnaire.is_wait %}
                        <b class="orange-text">Ожидает открытия</b>
                        {% elif questionnaire.is_open %}
                        <b class="green-text">Открыт</b>
                        {% else %}
                        <b>не известно</b>
                        {% endif %}
                    </div>
                    <div class="col s12 m4">
                        Время начала: 
                        <b>
                        {% if questionnaire.open_datetime %}
                            {{ questionnaire.open_datetime }}
                        {% else %}
                            отсутствует
                        {% endif %}
                        </b>
                    </div>
                    <div class="col s12 m4">
                        Время конца: 
                        <b>
                        {% if questionnaire.close_datetime %}
                            {{ questionnaire.close_datetime }}
                        {% else %}
                            отсутствует
                        {% endif %}
                        </b>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                         <div class="divider"></div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col s12 m4">
                        Тип теста:
                        {% if questionnaire.is_draft %}
                            <b class="orange-text darken-2">Черновик</b>
                        {% else %}
                            <b class="green-text darken-1">Опубликован</b>
                        {% endif %} 
                    </div>
                    <div class="col s12 m8">
                        Список групп: 
                        {% if questionnaire.groups.all %}
                            {% for group in questionnaire.groups.all %}
                                <a href="{% url 'departament-page' group.id %}">{{ group.name }}</a>
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            <b>отсутствуют</b>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <div class="stretch-container">
                    <div class="stretch-left">
                        <a href="
                        {% if questionnaire.is_draft %}
                            {% url 'questionnaire-drafts-page' %}
                        {% else %}
                            {% url 'questionnaire-publications-page' %}
                        {% endif %}" class=" btn-flat waves-effect waves-light">
                            <i class="material-icons left">arrow_back</i>Назад
                        </a>
                    </div>
                    <div class="stretch-flex-right">
                        <a href="{% url 'questionnaire-survey-publication-page' questionnaire.id %}" class="btn waves-effect waves-light truncate stretch-item">
                            <i class="material-icons left">rss_feed</i>Публикация
                        </a>
                        <div class="card-action-divider"></div>
                        <a href="{% url 'questionnaire-survey-setting-page' questionnaire.id %}" class="btn waves-effect waves-light truncate stretch-item">
                            <i class="material-icons left">settings</i>Настройки
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Список с вопросами -->
<div class="row">
    <div class="col s12 no-padding">
        <div class="card">
            <div class="card-content">
                <!-- Заголовок -->
                <div class="row">
                    <div class="col s12">
                        <div class="stretch-container">
                            <div class="stretch-left">
                                 <div class="card-title">
                                    Список вопросов 
                                    {% if quizzes %}
                                        {{ quizzes|length }}
                                    {% endif %}
                                 </div>
                            </div>
                            <div class="stretch-right">
                                <!--Выбор вопроса  -->
                                <a href="#" class="dropdown-trigger btn waves-effect waves-light truncate" data-target="create_quiz">
                                    <i class="material-icons left">add</i>Добавить вопрос
                                </a>
                                <!-- Структура с созданием вопросов -->
                                <ul id='create_quiz' class='dropdown-content'>
                                    <li>
                                        <a href="{% url 'questionnaire-single-choose-create' questionnaire.id %}">
                                            <i class="material-icons">radio_button_checked</i>Одим вариант
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'questionnaire-multi-choose-create' questionnaire.id %}">
                                            <i class="material-icons">check_box</i>Несколько вариантов
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'questionnaire-arbitrary-create' questionnaire.id %}">
                                            <i class="material-icons">subject</i>Cвободная форма
                                        </a>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Список вопросов -->
                <div class="row">
                    <div class="col s12">
                        <form action="{% url 'questionnaire-single-choose-remove' questionnaire.id %}" method="POST" id="single-remove">
                            {% csrf_token %}
                        </form>
                        <form action="{% url 'questionnaire-multi-choose-remove' questionnaire.id %}" method="POST" id="multi-remove">
                            {% csrf_token %}
                        </form>
                        <form action="{% url 'questionnaire-arbitrary-remove' questionnaire.id %}" method="POST" id="arbitrary-remove">
                            {% csrf_token %}
                        </form>
                        {% if quizzes %}
                        <ul class="collapsible expandable z-depth-0"> 
                        {% for quiz in quizzes %}
                            {% if quiz.get_quiz_type == SINGLE_QUIZ %}
                                {% include 'questionnaire/patterns/single_item.html' with quiz=quiz questionnaire=questionnaire %}
                            {% elif quiz.get_quiz_type == MULTI_QUIZ %}
                                {% include 'questionnaire/patterns/multi_item.html' with quiz=quiz questionnaire=questionnaire %}
                            {% elif quiz.get_quiz_type == ARBITRARY_QUIZ %}
                                {% include 'questionnaire/patterns/arbitrary_item.html' with quiz=quiz questionnaire=questionnaire %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                        {% else %}
                        <div class="divider"></div>
                        <div class="center empty-list">Список пуст</div>
                        <div class="divider"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}

{% block script-page %}
<script src="{% static '/questionnaire/js/survey.js' %}"></script>
{% endblock script-page %}