{% extends 'workbase.html' %}
{% load static %}
{% load widget_tweaks %}

<!-- header content -->
{% block title-content %}PepegaHR: Test{% endblock title-content %}

{% block head-page %}
<!-- link rel="stylesheet" href="{% static '/administration/css/departaments.css' %}"> -->
{% endblock head-page %}

<!-- nav content -->
{% block questionnaire-nav %}
<li class="bold active">
{% endblock questionnaire-nav %}

{% block questionnaire-body-nav %}
<div class="collapsible-body" style="display: block;">
{% endblock questionnaire-body-nav %}

{% block questionnaire-test-nav %}
<li class="active">
{% endblock questionnaire-test-nav %}

<!-- main content -->
{% block main-content %}

Test page

{% endblock main-content %}

{% block script-page %}
<!--<script src="{% static '/questionnaire/js/single_choose.js' %}"></script>-->
{% endblock script-page %}